@import "{}/imports/ui/stylesheets/not-found.less";
@import "{}/imports/ui/stylesheets/team_icon.less";
@import "{}/imports/ui/stylesheets/learn_share.less";
@import "{}/imports/ui/stylesheets/add_questions.less";
@import "{}/imports/ui/stylesheets/team_goals.less";
@import "{}/imports/ui/stylesheets/admin_teams.less";
@import "{}/imports/ui/stylesheets/user_dashboard.less";
@import "{}/imports/ui/stylesheets/user_profile.less";
@import "{}/imports/ui/stylesheets/select_feedback.less";
@import "{}/imports/ui/stylesheets/header.less";
@import "{}/imports/ui/stylesheets/login.less";
@import "{}/imports/ui/stylesheets/qnaire.less";
@import "{}/imports/ui/stylesheets/qnaire_results.less";
@import "{}/imports/ui/stylesheets/mbti_graph.less";
@import "{}/imports/ui/stylesheets/tsq.less";
@import "{}/imports/ui/stylesheets/opposites.less";
@import "{}/imports/ui/stylesheets/behavior_pattern_area.less";
@import "{}/imports/ui/stylesheets/char_sheet.less";
@import "{}/imports/ui/stylesheets/context_menu.less";
@import "{}/imports/ui/stylesheets/mbti_char_report.less";

.badge {
	.close {
		margin-left: .25rem;
		color: inherit;
		font-size: 100%;
		text-shadow: 0 1px 0 fade(#000, 70%);
	}
}

img.dl-icon {
	width: 15px;
	height: 15px;
}

h1 img.dl-icon {
	width: auto;
	height: 30px;
	margin-bottom: 10px;
}
.row.spaced {
	margin-bottom: 3px;
}

.float-right {
	float: right;
}

.btn.btn-text-left {
	text-align: left;
}

.navbar-nav > li > a.nav-icon {
	padding-top: 10px;
	padding-bottom: 10px;
}

#nav-notifications.unread img {
	background: #900;
	border-radius: 10px;
}
.mb-1, .my-1 {
    margin-bottom: .25rem!important;
}
.dropdown-menu {
	// white-space: nowrap; // When removed, fixes item wrapping in bdate dropdown menu - Darren Moody
	max-width: 400px;

	a.li-notification {
		border-bottom: 1px solid #dddfe2;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;

		&.unread {
			background-color: #edf2fa;
		}

		h5 {
			margin-top: 0;
			font-weight: bold;
			display: inline-block;
		}
		p {
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
		}
		small.float-right {
			position: absolute;
			right: 10px;
		}
	}
	span.li-heading {
		padding-left: 3px;
	}
}
.btn-secondary {
	border-color: #666;
}
