version: '3'
services:
    app:
        build: .
        ports:
            - "3000:3000"
        links:
            - database
        environment:
            - MONGO_URL=mongodb://database:27017/testing
            - ROOT_URL=http://localhost
            - PORT=3000
        volumes:
            - "//c/Users/wayne/tmp/padawan:/app"
    database:
        image: mongo:3.6
        restart: always
        volumes:
            - "db-data:/data/db"
volumes:
    db-data:
