<template name="context_menu">
    <div id="contextMenu">
        <div class="dlImage">
            <img src="/img/DeveloperLevel_icon_bg.png">
        </div>

        <div class="rightPanel">
            <div class="menuButtons btn-group-vertical">
                <div class="reportButtons btn-group-vertical">
                    <button class="btn btn-default {{isSelected 'overview'}} overview" type="button">Overview</button>
                    <button class="btn btn-default {{isSelected 'traitSpectrum'}} traitSpectrum" type="button">Trait Spectrum</button>
                    <button class="btn btn-default {{isSelected 'tsq'}} tsq" type="button">TSQ</button>
                </div>
            {{ #if userIsAdmin }}
                <div class="custom-dropdown">
                    <button class="btn btn-default dropdown-toggle dropdown-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Teams
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {{ #each userTeams }}
                            <a class="dropdown-item team-selection" href="/teamDashboard/{{ id }}">{{ team }}</a>
                        {{ /each }}
                    </div>
                </div>
            {{ /if }}
            </div>
            <div class="characterSheet">
                <div class="charSheetBody">
                    {{#if or overviewSelected trtSpcSelected}}
                        {{#if mbtiNonAnswered}}
                            <p>Please begin your Trait Spectrum assessment you must complete at least {{questionsLeft}} questions.</p>
                            <div class="buttonHolder">
                                <button class="btn btn-default traitSpecButton" type="button">
                                    Start Now
                                </button>
                            </div>
                        {{/if}}
                        {{#if mbtiAnswerMore}}
                            <p>Please continue your Trait Spectrum assessment you must complete at least {{questionsLeft}} more questions.</p>
                            <div class="buttonHolder">
                                <button class="btn btn-default traitSpecButton" type="button">
                                    Answer More Questions
                                </button>
                            </div>
                        {{/if}}
                        {{#if mbtiRefineResults}}
                            <p>You have completed the Trait Spectrum but there are still {{possibleQuestionsLeft}} questions left that can refine your results.</p>
                            <div class="buttonHolder">
                                <button class="btn btn-default traitSpecButton" type="button">
                                    Refine Results
                                </button>
                            </div>
                        {{/if}}
                        {{#if mbtiFinished}}
                            <p>Congratulations, all Trait Spectrum questoins have been completed.</p>
                            <div class="buttonHolder">
                                <button class="btn btn-default traitSpecButton" type="button">
                                    Completed
                                </button>
                            </div>
                        {{/if}}

                    {{/if}}
                    {{#if or overviewSelected tsqSelected}}
                        {{#if tsqNotStarted}}
                            <p>Please begnin the Technical Skills Questionnaire.</p>
                            <div class="buttonHolder">
                                <button class="btn btn-default tsqButton" type="button">
                                    Start Now
                                </button>
                            </div>
                        {{/if}}
                        {{#if continueTsq}}
                            <p>You are {{finishedPercentRound}}% complete on the Technical Skills Questionnaire</p>
                            <div class="buttonHolder">
                                <button class="btn btn-default tsqButton" type="button">
                                    Answer More Questions
                                </button>
                            </div>
                        {{/if}}
                        {{#if finishedTsq}}
                            <p>Congratulations, you have completed the Technical Skills Questionnaire.</p>
                            <div class="buttonHolder">
                                <button class="btn btn-default tsqButton" type="button">
                                    Update Previous Answers
                                </button>
                            </div>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>

    </div>
</template>
