NODE_ENV=development
DATABASE=mongodb://localhost:3011/meteor
APP_SECRET=appsecret123
APP_KEY=appkey123
SALT=3
FRONTEND_URL="http://localhost:7777"
MAIL_HOST="smtp.mailtrap.io"
MAIL_PORT=2525
MAIL_USER="fixme"
MAIL_PASS="fixme"