NODE_ENV=development
DATABASE=mongodb://localhost:3011/meteor
JWT_ALGORITHM="HS256"
APP_HS256_SECRET=appsecret123
APP_RS256_PRIVATE_KEY_FILE="./private.key"
APP_RS256_PUBLIC_KEY_FILE="./public.key"
SALT=3
FRONTEND_URL="http://localhost:7777"
MAIL_HOST="smtp.mailtrap.io"
MAIL_PORT=2525
MAIL_USER="fixme"
MAIL_PASS="fixme"