<template name="questions">
    {{#if Template.subscriptionsReady}}
    <div class="hidden-md hidden-sm hidden-xs hamburgerHide" style="position:fixed;top:80px;left:10px;background-color:silver;font-size:small;padding:5px;border-radius:3px;max-width:180px;z-index:11;display:{{contextMenuGone}};">
        {{#if isRemainingGreaterThan 10}}
            Answer at least {{remainingMinQCount}} more to see your personality reading
            {{else}}
            {{#if isRemainingGreaterThan 0}}
                You're almost there! Only {{remainingMinQCount}} questions remain to see your personality reading
                {{else}}
                    Congratulations! Your personality reading is ready with the minimum questions answered. As you continue answering questions, the accuracy of your reading will improve.
            {{/if}}
        {{/if}}
    </div>

    <div class="hidden-md hidden-sm hidden-xs hamburgerHide" style="position:fixed;top:80px;left:200px;background-color:silver;font-size:small;padding:5px;border-radius:3px;max-width:180px;z-index:11;display:{{contextMenuGone}};">
        <div>Answered: {{answeredQuestionsLength}}<br /></div>
        <div id="allQuestions">Total questions: {{totalQuestions}}</div>
    </div>

    <div class='row text-center' style='margin-right:0px;'>
        <div class='col-md-12'>
            <h4>
                Move each slider towards the side that best describes you.
                <small></small>
            </h4>
        </div>
    </div>

    <div id="noMoreQs" style="text-align: center">
            {{#if isRemainingGreaterThan 0}}
            {{else}}
            <h2>You Have Answered All the Questions</h2>
            {{/if}}
    </div>

    <div class="row" style='margin-right:0px;'>
        <div class="col-md-12">
            <div class="well-large">
                {{#each question in questions}}
                {{> getTemplate index=@index question=question}}
                {{/each}}
            </div>
            <button class="btn btn-large btn-success" id="submitAll">
                Submit All
            </button>
        </div>
    </div>

    <div id='remainingQs' style='visibility:hidden'>
        {{remainingTotalQCount}}
    </div>

    <div style="text-align: right; margin-top: 3vh;">
        {{#if currentResultsTrue}}
            <a href="#" id="nav-results">
                <button class="btn btn-warning btn-lg">Current Results</button>
            </a>
        {{/if}}

        {{#if finalResultsTrue}}
            <a href="#" id="nav-results">
                <button class="btn btn-success btn-lg">Final Results</button>
            </a>
        {{/if}}
    </div>

    {{> footer}}
    {{else}}
        {{> loading}}
    {{/if}}
</template>

<template name="questionTemplate">
    {{> question question=question reversed=false rightText=question.RightText leftText=question.LeftText}}
</template>

<template name="questionTemplateReversed">
    {{> question question=question reversed=true rightText=question.LeftText leftText=question.RightText}}
</template>

<template name="question">
    <div data-id="{{question._id}}" data-reversed="{{reversed}}" class="answer-question" data-readings='{{getReadingsAsJSON question}}' style='padding: 10px;'>
        <div class='row' style='text-align: center;'>
            <div class='col-md-12'><em style='visibility: hidden'>{{question.Text}}</em></div>
        </div>
        <div class='row' style='font-weight:bold;text-align: left;'>
            <div class="col-md-10 left-option" style="background-color:rgba(78, 100, 142, 1);padding:10px;border-radius: 5px 5px 0px 5px;">
                {{leftText}}
                <span class='label label-default percent'></span>
            </div>
            <div class='col-md-2'></div>
        </div>
        <div class='row'>
            <!-- <div class='col-md-1'></div> -->
            <div class='col-md-12'>
                <div class="slider" data-value="0" style='z-index: 10;'></div>
            </div>
            <!-- <div class='col-md-1'></div> -->
        </div>
        <div class='row' style='font-weight:bold;text-align: right;'>
            <div class='col-md-2'></div>
            <div class="col-md-10 right-option" style="background-color:rgba(78, 100, 142, 1);padding:10px;border-radius: 0px 5px 5px 5px;">
                <span class='label label-default percent'></span>
                {{rightText}}
            </div>
        </div>
        <div class='row' style='text-align: center;'>
            <div class='col-md-12 reading text-primary' style='margin:5px 0;font-weight:bold;'>Read each option carefully.</div>
        </div>
        <div class='row' style='text-align: center;'>
            <div class='col-md-12'>
                <button class='btn btn-large btn-success answer-button'>
                  Do It
                </button>
            </div>
        </div>
    </div>
</template>

<template name="footer">

</template>
