<template name="mbtiGraphRenderMulti">
  <div class="row">
    <div class="col-sm-4">
      <table class="table">
        <thead>
          <tr>
              <th>
                Name
              </th>
              <th>
                IE
              </th>
              <th>
                NS
              </th>
              <th>
                TF
              </th>
              <th>
                JP
              </th>
              <th>
                X
              </th>
              <th>
                Y
              </th>
              <th>
                R
              </th>
          </tr>
        </thead>
        <tbody>
        {{#each graphData}}
          <tr>
              <td>
                {{name}}
              </td>
              <td>
                {{ie}}
              </td>
              <td>
                {{ns}}
              </td>
              <td>
                {{tf}}
              </td>
              <td>
                {{jp}}
              </td>
              <td>
                {{round x}}
              </td>
              <td>
                {{round y}}
              </td>
              <td>
                {{round r}}
              </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col-sm-8">
    <canvas
      id="canvas"
      class="mbtiGraph"
      height="800px"
      width="800px"
    ></canvas>
     </div>
  </div>
  </template>