.selectize-control {
    &.multi {
        .selectize-input [data-value].picking {
            background-image: none;
            background-color: #ffa07a;
        }
        .selectize-input [data-value].picked {
            background-image: none;
            background-color: #668b8b;
        }
        .selectize-input > div.picked {
            border: 1px solid #96cdcd;
        }
        .selectize-input > div.guest {
            color: #666;
        }
    }
    &.plugin-remove_button [data-value].picked .remove {
        border-left: 1px solid #96cdcd;
    }
}
.label-list > div.guest {
    color: #666;
}

.guest-name {
    color: darkslategray;
    cursor: pointer;
}

#session-length {
    width: 50%;
}

#timerbtn {
    width: 100%;
}

.overtimer {
    background: orangered;
}

.presenterKey {

    .presenterTimer {
        background: white;
        color: #333;
        font-size: 20px;
    }

    .countdownTimer {
        text-align: center;
        margin: 20px 0;
        font-size: 20px;
    }
    
    .allottedTimers {
        text-align: right;
    }

} // end of presnterKey

.teamInfo {
    position: relative;

    #editTeam {
        font-size: 10px;
        position: absolute;
        margin: 10px 0 0 5px;
        color: #4f79bb;
    } // end of editTeam
        
}// end of teamInfo



// @media only screen and (min-width: 767px) {

//     .teamInfo {
    
//         #editTeam {
            
//             margin: 70px 0 0 5px;
            
//         } // end of editTeam

//     }// end of teamInfo

// }// end of media query 767px
