.title1 {
  border: #1a1a1a;
  color: red;
  font-size: 10px;
  text-align: center;
  padding: 5px;
}
.border {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: bottom;
  border-top: 10px solid #ddd;
}
.question-responses {
  background-color: #73ff2b;
  width: 95%;
  height: 100%;
  padding: 5px 20px;
  border-radius: 6px;
}

.th{
  border: 2px solid #FF0000;
}
.td{border: 4px solid #ffff00;}