
.tsq {
  margin-top: 60px;
  margin-bottom: 10px;
}

.panel {
  &-heading {
    text-align: center;
    font-size: 16px;
    padding: 5px 15px;
  }

  &-body {
    div, p {
      .subtitles {
        font-weight: 500;
        font-size: 20px;
      }
      .descriptions, .list-group-item, .list-group-item label {
        font-size: 16px;
        font-weight: 400;
      }
    }
    .lang_name {
      background: #eee;
      padding: 3px 5px; 
      border: 1px solid #eee;
      border-radius: 4px;
      font-size: 18px;
      font-weight: 600;
    }
  }
}

.overview-widget .panel-footer {
  text-align: right;
}
.progress-amount td {
  font-size: 1px;
  text-align: center;
  vertical-align: bottom;
}

.mb_0 {
  margin-bottom: 0;
}

.select-autocomplete {
  position: relative;
  display: block;
  .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
    text-align: center;
    vertical-align: middle;
    background: rgba(255,255,255,0.5);
    display: none;
  }
}

.selectize-control::before {
  content: ' ';
  z-index: 2;
  position: absolute;
  display: block;
  top: 12px;
  right: 34px;
  width: 16px;
  height: 16px;
  background: url(img/loading.gif);
  background-size: 16px 16px;
  opacity: 0;
}
.selectize-control.loading1::before {
  opacity: 1;
}