.user-profile {
    &.container {
        position: relative;
        max-width: 400px;
    }
    #btn-group {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 11;
    }
}
.right{
    float:right;
}
.left{
    float:left;
}
.btn-space{
    margin-left: 10px;
}
.alert-margin{
    margin-top: 5px;
    margin-bottom: 1px;
    height: 20px;
    line-height:20px;
    padding:0px 15px;
}
#verifyButton {
    position: absolute;
    left: 100px;
}
