<template name="select_feedback">
    <div id="feedback-box-{{source}}" class="container feedback-box">
        <div id="sf-instruction-begin-{{source}}" class="sf-instruction-begin"><h3>Select text to leave feedback for a passage</h3></div>
        <div id="sf-instruction-selected-{{source}}" class="sf-instruction-selected" style="display:none;">
            <div class="row spaced">
                <div class="col-md-12"><h3>Leaving feedback for this text:</h3></div>
            </div>
            <div class="row spaced">
                <div class="col-md-12">
                    <div id="sf-feedback-context-{{source}}" class="sf-feedback-context"></div>
                </div>
            </div>
            <div class="row spaced sf-textbox" id="sf-textbox-{{source}}">
                <div class="col-md-12">
                    My comment:
                    <textarea id="mytextarea-{{source}}" class="mytextarea"></textarea>
                </div>
            </div>
            <div class="row spaced">
                <div class="col-sm-12 text-right btn-group-xs">
                    <button id="feedback-cancel-{{source}}" class="btn btn-danger feedback-cancel btn-cancel glyphicon glyphicon-remove details" alt="Discard changes"></button>
                    <button id="feedback-save-{{source}}" class="btn feedback-save btn-success btn-save glyphicon glyphicon-ok details" disabled alt="Save changes"></button>
                </div>
            </div>
        </div>
        <div id="sf-list-feedback-{{source}}" class="sf-list-feedback">
            <hr />
            <div class="row spaced">
                <div class="col-sm-12">
                    <h3>Feedback I've left:</h3>
                </div>
            </div>
            {{#each comment in commentsMade}}
            <div class="row spaced">
                <div class="col-sm-12">
                    <span style="background-color:blue;">{{comment.context}}</span> -
                    {{comment.comment}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</template>
